@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

body{
	font:400 16px/1.25'PT Sans', sans-serif;
	color: #545454;
}


/* Typography */
a,
input[type="submit"],
input[type="button"],
button{

	text-decoration: none;
	color:#fff;
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

a:hover {
	color:#FCDB00;
}

input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;

}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 940px;
}

/* ba-intro */
.ba-intro {
	background: url(../img/intro-bg.jpg) no-repeat 50%;
	background-size: cover;
	padding: 50px 0 100px;
	position: relative;
}

.ba-header {
	padding-bottom: 60px;
	position:relative;
}
.ba-menu {
	list-style: none;
	vertical-align: middle;
	line-height: 18px;
	margin:10px 0;

}

.ba-menu li {
	float: left;
	padding-left: 48px;

}

.ba-menu li:first-child {
	padding-left: 0px;
}


.ba-menu li a {
	display: block;
	text-decoration: none;
	color: #010101;
	font: 700 22px/1.5 'HelveticaNeue', sans-serif;
	text-align: left;
	position: relative;
}

.ba-menu a:hover {
	color: #fff;
}

.ba-inspire {
	padding-top: 45px;
}


.ba-inspire__title {
	font: 700 32px 'PT Sans', sans-serif;
	color:  #010101;
	margin-bottom:20px;
	padding-top: 35px;
}

.ba-inspire__bigtext {
	font:400 20px/1.2 'PT Sans', sans-serif;
	color:  #313841;
	max-width: 350px;
}


.ba-intro__img {
	margin-left: 115px;

}

.ba-intro__links {
	margin-top: 35px;
	font-size: 42px;
}

.fa{
	color: #222;
}

.fa-android {
	padding-left: 25px;
}

.fa-windows {
	padding-left: 30px;
}

.ba-intro__links:hover .fa {
	opacity:.5;
	transition: all .3s ease-in;
}

.ba-intro__links .fa:hover {
	opacity:1;
	transition: all .3s ease-in;
}

/* ba-features */
.ba-features {
	padding-top: 85px;
	padding-bottom: 125px;
}

.ba-features__title {
	font: 700 32px 'PTSans', sans-serif;
	color:  #010101;
	padding:0;
	margin: 30px 0 15px;
}

.ba-features__text {
	padding: 0;
	margin: 0;
	max-width: 732px;
	color:  #313841;
	font-size: 20px;
	line-height: 24px;
	margin-left: 86px;
	margin-bottom: 65px;
}

.ba-item{
	font-size: 50px;
	margin-left: 10px;
	float: left;
}

.item__title {
	font-size: 22px;
	line-height: 1.09;
	vertical-align: middle;
	padding-left: 80px;
}

.item__text {
	padding-left: 80px;
}

.ba-grid + .ba-grid {
	padding-top: 26px;
}

/* contacts */

.ba-contacts {
	background: url(../img/contacts-bg.jpg) no-repeat 50%;
	background-size: cover;
	padding-top: 70px;
}

.ba-contacts__title {
	color:  #fcdb00;
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;

}

.ba-contacts__text {
	margin: 0;
	margin-left: 60px;
	color:  #898989;
	font-size: 20px;
	line-height: 24px;
}

.ba-contacts_input {
	width: 581px;
	height: 50px;
	border-radius: 5px;
	margin-top: 20px;
	padding: 0 20px;
}

.ba-contacts_input:hover {
	border:2px solid yellow;
}

.ba-contacts__button {
	border-style: solid;
	border-width: 2px;
	border-color:  #010101;
	background-color:  #fcdb00;
	width: 126px;
	height: 50px;
	border-radius: 5px;
	margin-left: 20px;
	padding: 0 5px;
	font-weight: 700;
}

.ba-contacts__button:hover {
		background-color:  #fff;
		color: #222;
}
.ba-social {
	margin-top: 80px;
	padding-bottom: 56px;
	border-bottom:1px solid grey;
}
.ba-social__link {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0 10px;
	border-radius: 5px;
}
.ba-social__link--fac {
	background: url(../img/icons/facebook.png) no-repeat 50% 100%;
}

.ba-social__link--tw {
	background: url(../img/icons/twitter.png) no-repeat 50% 100%;
}
.ba-social__link--google {
	background: url(../img/icons/google.png) no-repeat 50% 100%;
}
.ba-social__link--d {
	background: url(../img/icons/pinterest.png) no-repeat 50% 100%;
}

.ba-social:hover .ba-social__link  {
	opacity: .3;
}

.ba-social .ba-social__link:hover  {
	opacity: 1;
}
/* footer */

.ba-footer {
	margin: 0;

	padding-bottom: 120px;


}

.ba-footer__adress {
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 5px;
	font-style: normal;

}

.ba-footer__text {
	list-style: none;
	color:  #ffffff;
	font-size: 16px;
	line-height: 20px;
	word-wrap: normal;
	margin-top: 60px;
	text-align: left;

}
